STRING_SESSION = BQCIrGvsE8MLZSbYmRETH1JKo-A37GGWnFOlO4kek0473m6NhEt93ni8Tecf1dO63MDqDHavD8Sd1yY9XvqLPgPzwNfBtxksKQzQ65VDRDOyP5ER2JoMwrLT6AaT_5BDumCyFFQDiJAhewKv-bOE06JLjjJpF--Lu7tZx1lzqdifkaPVUgA8AbZiBQJ23WmP6H2KqRCNnlp02W-xGnprti5mVFbg1sssXOCL8CuVR6G_rFOj8dZl-ReKC141pIgkDjZSBtvSPHJVNEI4RCboI6HEWkv-2bS_kjyCaC7Kwiu0K_EgX1UWw1_TQezLPZLSwjJ_LasvZ2kq5VsP1tHBXdUXAAAAAHSXMFIA
API_ID = 13791948
API_HASH = b4534a8924232e4c6bd171da36251094
BOT_TOKEN = 5569387872:AAHs6Ykur3a7WKBBBtCUrqaHusURS9WNmgk
MONGO_DB_URI = mongodb+srv://Cloner:Cloner@cluster0.cgc6t.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001802066724
MUSIC_BOT_NAME = RAMPAGE MUSIC 
OWNER_ID = 5710167219
