STRING_SESSION = BQCk9B_GltBREs8E4CisqOwhZOI9w2wxx2XL0670FjrOmAO1MYNBm6zyfO56dVwDYacUukgrWo0qkYGCA13jVTm_zGHJL01QUU8ufIUfAbIZUmrTX-rUHVRpGdnR4KMUchmXnaqZOGBSuGiq6sKhQV0feT0vQblHzoKfOUw3viLSpTutme13EJQFEZyu_J2_FXhBtUJQbVrH6U0Bv1lMy4pAoNyHyHQ9J2V0b602PNHdRxBhX4KTbskHmBSNMT3nCS3mwLqNgdNJkmYFEaZeV3-2hJgWTznins8SwJEdDALPqlzkLlGfsvqOdsOaCrwL3lit-VpQg6UHcdScFlgdXLOGAAAAAHu3ykAA
API_ID = 13791948
API_HASH = b4534a8924232e4c6bd171da36251094
BOT_TOKEN = 5544474027:AAG4gH91He35vMs4LMZfu_aqAhXneGzeALA
MONGO_DB_URI = mongodb+srv://ziddiboy1763:ziddiboy1763@cluster0.ilw31mx.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001802066724
MUSIC_BOT_NAME = TUSHAR X ROBOT 
OWNER_ID = 5099353600
